$primary-background-blue: #00008b;
$primary-background-red: #800014;
$primary-red-oppsite: #548000;
$primary-background-gradient: linear-gradient(
  90deg,
  rgba(12, 12, 131, 1) 0%,
  rgba(46, 46, 221, 1) 54%,
  rgba(12, 12, 131, 1) 100%
);

$primary-font-white: #fafafa;
$primary-font-blue: #a6cff2;
$primary-link-blue: #141414;
$primary-font-black: #212424;

$primary-font-family: "Bebas Neue", serif;
$primary-grey: #c8c3c36f;
$primary-footer-grey: #dddee1;
$border-grey: #c7c1c1;

body {
  font-family: $primary-font-family;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-container {
  position: absolute;
  top: 25%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3em;
}

h1 {
  font-size: 9.2vw;
  font-family: $primary-font-family;
  font-weight: 400;
  font-style: normal;
  line-height: 0.9em;
}

h2,
h3 {
  font-size: 3em;
  font-family: $primary-font-family;
  font-style: normal;
}

footer {
  background: #dddee1;
  padding: 5vh 0;
  text-align: center;
  position: relative;
}

:export {
  primary-background-blue: $primary-background-blue;
  primary-background-red: $primary-background-red;
  primary-background-gradient: $primary-background-gradient;
  primary-font-blue: $primary-font-blue;
  primary-font-family: $primary-font-family;
  primary-font-white: $primary-font-white;
  primary-link-blue: $primary-link-blue;
  primary-font-black: $primary-font-black;
  primary-grey: $primary-grey;
  border-grey: $border-grey;
}
